{% extends 'base.html' %}

{% load static from static %}
{% block content %}


<!-- Mashead header-->
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">Create an Account and Order your Devices now!</h1>
                    <p class="lead fw-normal text-muted mb-5">We at goalifix sell top devices at good prices, out with the old and in with the new!</p>
                   
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Masthead device mockup feature-->
                <div class="masthead-device-mockup">
                    <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <linearGradient id="circleGradient" gradientTransform="rotate(45)">
                                <stop class="gradient-start-color" offset="0%"></stop>
                                <stop class="gradient-end-color" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <circle cx="50" cy="50" r="50"></circle></svg
                    ><svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83" xmlns="http://www.w3.org/2000/svg">
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(120.42 -49.88) rotate(45)"></rect>
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(-49.88 120.42) rotate(-45)"></rect></svg
                    ><svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"></circle></svg>
                    <div class="device-wrapper">
                        <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                            <div class="screen bg-black">
                                <!-- PUT CONTENTS HERE:-->
                                <!-- * * This can be a video, image, or just about anything else.-->
                                <!-- * * Set the max width of your media to 100% and the height to-->
                                <!-- * * 100% like the demo example below.-->
                                <video muted="muted" autoplay="" loop="" style="max-width: 100%; height: 100%"><source src="{% static 'assets/img/VIDEO-2021-07-14-21-27-01.mp4' %}" type="video/mp4" /></video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Quote/testimonial aside-->
<aside class="text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 text-white mb-4">"A good device can serve its user for years and a bad device will punish its user for years!"</div>
                <img src="{% static 'assets/img/hhh.png' %}" alt="..." style="height: 15rem" />
            </div>
        </div>
    </div>
</aside>
<!-- App features section-->
<section id="features">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                <div class="container-fluid px-5">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-phone icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">SELL DEVICES!</h3>
                                <p class="text-muted mb-0">You can sell your devices and prices will be discussed through professional means</p>
                                <div class="btn btn-light mt-3">
                                    <a class="bi bi-chevron-right" href="{% url 'main:home'%}#SELLDEVICES" >Sell Devices Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-laptop icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">BUY DEVICES</h3>
                                <p class="text-muted mb-0">We sell a large variety of brands . Ranging from iphones to itels for a reasonable price</p>
                                <div class="btn btn-light mt-3">
                                    <a class="bi bi-chevron-right" href="{% url 'main:home'%}#BUYDEVICES">Buy Devices Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-gift icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">BIDDING</h3>
                                <p class="text-muted mb-0">Every Friday is bidding friday, devices will be put up for aunctioning!</p>
                                <div class="btn btn-light mt-3">
                                    <a class="bi bi-chevron-right" href="{% url 'main:home'%}#PLACEABID">Start Bidding Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-patch-check icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">FIXING DEVICES</h3>
                                <p class="text-muted mb-0">We can fix your devices in real time </p>
                                <div class="btn btn-light mt-3">
                                    <a class="bi bi-chevron-right" href="{% url 'main:home'%}#FIXUP">Fix Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-0">
                <!-- Features section device mockup-->
                <div class="features-device-mockup">
                    <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <linearGradient id="circleGradient" gradientTransform="rotate(45)">
                                <stop class="gradient-start-color" offset="0%"></stop>
                                <stop class="gradient-end-color" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <circle cx="50" cy="50" r="50"></circle></svg
                    ><svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83" xmlns="http://www.w3.org/2000/svg">
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(120.42 -49.88) rotate(45)"></rect>
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(-49.88 120.42) rotate(-45)"></rect></svg
                    ><svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"></circle></svg>
                    <div class="device-wrapper">
                        <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                            <div class="screen bg-black">
                                <!-- PUT CONTENTS HERE:-->
                                <!-- * * This can be a video, image, or just about anything else.-->
                                <!-- * * Set the max width of your media to 100% and the height to-->
                                <!-- * * 100% like the demo example below.-->
                                <video muted="muted" autoplay="" loop="" style="max-width: 100%; height: 100%"><source src="https://tyre-project.s3.us-east-2.amazonaws.com/goalifix/assets/img/demo-screen.mp4" type="video/mp4" /></video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Basic features section-->
<section  id="ABOUTUS" class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h2 class="display-4 lh-1 mb-4">ABOUT US</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">Goalifix is a company found by Anagbogu Akaolisa Godwin .This company has been running for 8 good years with over 1000 satisfied customers .Goalifix is a company that sells various devices ranging from phones to laptops to gadgets and much more electronic devices.</p>
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle" src="{% static 'assets/img/pppp.jpg' %}" alt="..." /></div>
            </div>
        </div>
    </div>
</section>
<!--contact us-->
<div id="FINDUSNOW" class="section p-5">
    <div style="margin-top:50px">
    <div class="container">
        <div class="row g-4">
            <div class="col-md">
                
                <div class="h2 text-center mb-4"> CONTACT US</div>
                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold">ADRESS:</span> Suite 26 His grace plaza ,4 Francis oremeji street,computer village ,Ikeja
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">PHONE:</span>  (+234)8163983818
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Email:</span>  goalflixltd@gmail.com
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">DATE:</span>  Click on apply now 
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock%}